.banner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 140px;
    display: flex;
    align-items: center;
  
    transition: opacity 0.3s, transform 0.3s;
}

.banner-hidden {
    opacity: 0;
    transform: translateY(-100%);
}

.navbar {
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background-color 0.3s;
}

.navbar-fixed {
    top: 0;
    z-index: 1001;
}

body {
    padding-top: 200px;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}



.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}


.ceep img {
    max-width: 53%;
    display:inline-flex;
    text-align: auto ;
    position: relative;
    left: 20%;
}

.parana img {
    max-width: 58%;
    display:inline-flex ;
    text-align: start;
}

#titulo, #titulosub {
    color: #fff;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#titulo {
    font-size: 2.0rem;
    color: #fff;
}

.definirAltura{
    width: 100% !important;
    height: 150px;
}

.container {
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 760px) {
    #logoCeep {
        height: 100px;
    }
}

